<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842425502927-5of4iaihfv6ql4rhg3au8bqq935u6fjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842425502927-5of4iaihfv6ql4rhg3au8bqq935u6fjp</string>
	<key>API_KEY</key>
	<string>AIzaSyCZWY2WUXPOSX4jllyuxEiEEcmIzaW69Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>842425502927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ga.gcmms.My-Card</string>
	<key>PROJECT_ID</key>
	<string>mycard-fcamara</string>
	<key>STORAGE_BUCKET</key>
	<string>mycard-fcamara.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842425502927:ios:f119e977dce92952</string>
	<key>DATABASE_URL</key>
	<string>https://mycard-fcamara.firebaseio.com</string>
</dict>
</plist>